star_jeanss_webscrapping/configs/bin/
star_jeanss_webscrapping/configs/etc/
star_jeanss_webscrapping/configs/.git
star_jeanss_webscrapping/configs/include/
star_jeanss_webscrapping/configs/.ipynb_checkpoints
star_jeanss_webscrapping/configs/lib/
star_jeanss_webscrapping/configs/lib64
star_jeanss_webscrapping/configs/logs/
star_jeanss_webscrapping/configs/pyvenv.cfg
star_jeanss_webscrapping/configs/share/
star_jeanss_webscrapping/data/external/olist/
