bin
etc
.git
include
.ipynb_checkpoints
lib
lib64 -> lib
logs
m01_a02_recapitulando_aprendizado.ipynb
m01_a03_problema_de_negocio.ipynb
m03_01_pensamento_analitico.ipynb
m03_02_metodo_ciclico_de_desenvolvimento.ipynb
m03_03_metodo_SAPE.ipynb
m03_04_metodo_SAPE_na_pratica.ipynb
m03_05_exercicios_praticos.ipynb
m04_01_definicao_modelo_negocio.ipynb
m04_02_fundamento_ecommerce.ipynb
m04_03_metricas_ecommerce.ipynb
m05_01_metodo_ciclico.ipynb
m05_02_metodo_SAPE.ipynb
m05_05_beautifulsoup_teoria.ipynb
m05_06_beautifulsoup_pratica.ipynb
m05_07_exercicio.ipynb
m06_01_introducao_python_avancado.ipynb
m06_02_apply_map_lambda.ipynb
m06_03_apply_map_lambda_parteII.ipynb
m06_05_regex_parte_II.ipynb
m06_06_regex_parte_III.ipynb
m06_07_regex_parte_VI.ipynb
m07_02_granularidade.ipynb
m09_00_introducao.ipynb
m09_01_verificacao_do_ETL_parte_I.ipynb
m09_02_planejamento_ETL_Arquitetura.ipynb
m09_03_planejamento_ETL_Logging.ipynb
m09_05_ETL_Final.ipynb
module_10_analysis.ipynb
olist
pyvenv.cfg
README.md
share

