configs/star_jeanss_webscrapping/configs/bin/
configs/star_jeanss_webscrapping/configs/etc/
configs/star_jeanss_webscrapping/configs/.git
configs/star_jeanss_webscrapping/configs/include/
configs/star_jeanss_webscrapping/configs/.ipynb_checkpoints
configs/star_jeanss_webscrapping/configs/lib/
configs/star_jeanss_webscrapping/configs/lib64
configs/star_jeanss_webscrapping/configs/logs/
configs/star_jeanss_webscrapping/configs/pyvenv.cfg
configs/star_jeanss_webscrapping/configs/share/
configs/star_jeanss_webscrapping/data/external/olist/
